<?xml version="1.0"?>
<model>
  <name>Estrella Damm</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Jaime Enguidanos Descalzo</name>
    <email>jaimeenguidanosd@gmail.com</email>
  </author>
  <description>
    Lata de cerveza Estrella Damm 
  </description>
</model>
