<?xml version="1.0"?>
<model>
  <name>Mahou_Clasica</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Autor del Modelo</name>
    <email>email@ejemplo.com</email>
  </author>
  <description>
    Modelo de una botella de Mahou Clásica para Gazebo.
  </description>
</model>
