body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* MainBody color */
    color: #f1f1f1;
}

/* Contenedor principal */
.container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #2c2f34; /* Fondo de la tabla */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Título */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #ffffff;
}

/* Barra de búsqueda */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input[type="text"], #buscador {
    width: 50%;
    padding: 10px 15px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 1em;
    height: 40px; /* Altura igual a la de los botones */
    background-color: #1e1e1e;
    color: #f1f1f1;
}

.search-container button {
    padding: 10px 15px;
    margin: 0 0 0 10px;
    font-size: 1em;
    color: #ffffff;
    background-color: #E35843; /* Botones y interactuadores */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 62px; /* Altura igual a la de los botones */
}

.search-container button:hover {
    background-color: #d94c38;
}

/* Botón de añadir */
#anyadir {
    background-color: #E35843;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 10px 0 20px;
    width: fit-content;
}

#anyadir:hover {
    background-color: #d94c38;
}

/* Tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #444;
    text-align: left;
}

.table th {
    background-color: #3a3d42;
    font-weight: bold;
    color: #ffffff;
}

.table tr:nth-child(even) {
    background-color: #2c2f34; /* Fondo de la tabla */
}

.table tr:nth-child(odd) {
    background-color: #3a3d42;
}

/* Estilo de la fila de la tabla al pasar el ratón */
.table tbody tr:hover {
    background-color: rgba(227, 88, 67, 0.1);
}

/* Botones */
.btn {
    width: 100px;
    display: inline-block;
    padding: 10px 10px;
    margin: 5px;
    font-size: 1em;
    color: #ffffff;
    background-color: #E35843; /* Botones y interactuadores */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    height: 40px; /* Altura uniforme */
    line-height: 40px;
    justify-content: center;
}

.btn:hover {
    background-color: #d94c38;
}

.btn-danger {
    background-color: #E35843;
}

.btn-danger:hover {
    background-color: #d94c38;
}

.btn-success {
    background-color: #E35843;
}

.btn-success:hover {
    background-color: #d94c38;
}

.btn-primary {
    background-color: #E35843;
    height: 62px;
}

.btn-primary:hover {
    background-color: #d94c38;
}
