body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
}

.menu {
    width: 20%;
    padding: 20px;
}

.options {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
    cursor: pointer;
}



.option {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: border-color 0.3s;
}

.option:hover {
    border-color: #333;
}

.option img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

/* Agregamos estilos para el popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}